<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">


    <servers>
        <server>
            <id>privite</id>
            <username>admin</username>
            <password>pass</password>
        </server>

        <server>
            <id>reposilite-releases</id>
            <username>admin</username>
            <password>pass</password>
        </server>
        <server>
            <id>reposilite-snapshots</id>
            <username>admin</username>
            <password>pass</password>
        </server>

    </servers>

    <profiles>
        <profile>
            <id>alwaysActiveProfile</id>
            <repositories>
                <repository>
                    <id>privite</id>
                    <url>http://192.168.111.10:18080/privite</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>

            <!-- <pluginRepositories>
                <pluginRepository>
                    <id></id>
                    <url></url>
                    <releases></releases>
                    <snapshots></snapshots>
                </pluginRepository>
            </pluginRepositories> -->

        </profile>

    </profiles>


    <activeProfiles>
        <activeProfile>alwaysActiveProfile</activeProfile>
        <!-- <activeProfile>anotherAlwaysActiveProfile</activeProfile> -->
    </activeProfiles>


    <mirrors>
        <mirror>
            <id>central-mirror</id>
            <mirrorOf>central</mirrorOf>
            <name>阿里云公共仓库</name>
            <url>https://maven.aliyun.com/repository/public</url>
        </mirror>
        <!-- <mirror>
            <id>central-mirror</id>
            <mirrorOf>central</mirrorOf>
            <name>Nexus tencentyun</name>
            <url>http://mirrors.cloud.tencent.com/nexus/repository/maven-public/</url>
        </mirror> -->
        <!-- <mirror>
            <id>central-mirror</id>
            <mirrorOf>central</mirrorOf>
            <url>https://repo.huaweicloud.com/repository/maven/</url>
        </mirror> -->
    </mirrors>

</settings>